
<button (click)="add('Book')">Add Book</button>
<br>
<br>

<button (click)="resetBookState()">reset Dress state</button>
<h2>All Book list:</h2>
<li *ngFor="let book of (bookList$ | async)">
  {{ book.id }} {{ book.name }}
  <button  type="button" (click)="update(book)">update</button>
  <button type="button" (click)="remove(book)">Remove</button>
  <button type="button" (click)="favourite(book)">Favourite</button>
</li>

<br>
<br>

<h2>Favourite Book list:</h2>
<li *ngFor="let fm of (favouriteBookList$ | async)">
  {{ fm.id }} {{ fm.name }}
</li>

