<form>
  <p>Dress form</p>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="color">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

  <button type="button" class="btn btn-primary" (click)="add('Dress')">Add Dress</button>
</form>
<br>
<br>

<button (click)="resetDressState()">reset Dress State</button>
<h2>All Dress list:</h2>
<li *ngFor="let dress of (dressList$ | async)">
  {{ dress.id }} {{ dress.name }}
  <button type="button" class="btn btn-primary" (click)="update(dress)">update</button>
  <button type="button" (click)="remove(dress)">Remove</button>
  <button type="button" (click)="favourite(dress)">Favourite</button>
</li>

<br>
<br>

<h2>Favourite Dress list:</h2>
<li *ngFor="let fm of (favouriteDressList$ | async)">
  {{ fm.id }} {{ fm.name }}
</li>
