<p>parent-page works!</p>

<div style="border: 4px; border-style: solid;">
  <div class="row">
    <form [formGroup]="studentFg">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
      <div class="mb-3">
        <label for="studyLevel" class="form-label">Study Level</label>
        <input type="text" class="form-control" formControlName="studyLevel" id="studyLevel">
      </div>

      <button type="button" class="btn btn-primary" (click)="saveStudent()">Save Student</button>
    </form>
  </div>
  <br>
  <br>

  <button (click)="resetStudentState()">reset Student state</button>
  <div class="row">
    <li>
      {{ studentDto.id }} {{ studentDto.name }} {{ studentDto.studyLevel }}
    </li>


    <h6>All Book list:</h6>

    <pre>{{bookList$ | async | json}}</pre>
<!--    <li *ngFor="let book of studentDto.bookList; let i = index">
      {{ book.id }} {{ book.name }} {{ book.writer }} {{ book.description }}
    </li>-->

    <h6>Favourite Dress list:</h6>
    <pre>{{dressList$ | async | json}}</pre>
<!--    <li *ngFor="let dress of studentDto.dressList">
      {{ dress.id }} {{ dress.name }} {{ dress.color }} {{ dress.description }}
    </li>-->

  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col">
    <app-dress-page></app-dress-page>
  </div>
  <div class="col">
    <app-book-page></app-book-page>
  </div>
</div>

